[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LabApplStat"]
	path = LabApplStat
	url = https://github.com/bomarkussen/labapplstat
[submodule "fdaMixed"]
	path = fdaMixed
	url = https://github.com/bomarkussen/fdamixed
